.paymentrecord_wrap {
    border: 1px solid black;
    width: 100%;
    max-width: 881px;
    height: 100%;
    min-height: 446px;
    padding: 0px 30px 20px 30px
}

.paymentrecord {
    width: 100%;
    height: 100%;
    min-height: 446px;
}